/lib
/include
*~
*.o
*.a
*.lo
*.la
*.pyc
*.log
*.status
*.dll
CMakeCache.txt
Makefile
Makefile.in
pkg.m4
gen-*
.libs
autom4te.cache/
thrift-0.9.1/compiler/cpp/thrift*
thrift-0.9.1/compiler/cpp/version.h
thrift-0.9.1/libtool
thrift-0.9.1/lib/py/build
thrift-0.9.1/lib/cpp/test/Benchmark
thrift-0.9.1/lib/cpp/src/thrift/qt/moc_TQTcpServer.cpp
thrift-0.9.1/tutorial/cpp/Tutorial*
thrift-0.9.1/AUTHORS
thrift-0.9.1/COPYING
thrift-0.9.1/ChangeLog
thrift-0.9.1/INSTALL
thrift-0.9.1/NEWS
*.cmake
